#waitText{
	position: absolute;
	left: 320px;
	top: 20px;
	font-family:Helvetica;
	embed-fonts:true;
	font-size:28px;
	text-align:left;
	color:#3B5998;
	/*background:#FFFFFF;*/
}


#dancevideo_01{
	position: absolute;
	top: 0px;
	left: 0px;
}

#screenshot{
	position: absolute;
	top: 0px;
	left: 0px;
	/*cursor: pointer;*/
}

#hotspot{
  position: absolute;
  left: 320px;
  top: 140px;
  width: 180px;
  height: 200px;  
  cursor: pointer;
/*  background:#666666;
  opacity: 0.2;*/
}

/*#fadeDiv {
  position: absolute;
  left: 120px;
  top: 60px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0.1;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#fadeDiv:hover {
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 1;
}*/

#instructHotpot {
  position: absolute;
  left: 120px;
  top: 60px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructHotpot.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructChapters {
  position: absolute;
  left: 160px;
  top: 70px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructChapters.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructPdf {
  position: absolute;
  left: 160px;
  top: 70px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructPdf.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructQuiz {
  position: absolute;
  left: 160px;
  top: 70px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructQuiz.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#pdfLink {
  position: absolute;
  left: 250px;
  top: 360px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:16px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#pdfLink.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}


#menu {
  display: none;
  position: absolute;
  left: 265px;
  top: 460px;
}

.menu_div ul
{
  padding:0px;
  margin:0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  color:#000000;
  list-style:none;
  text-indent:15px;
}
.menu_div ul li
{
  background:#999999;
  line-height:28px;
  border-bottom:1px solid #FFFFFF;
  text-decoration:none;
  color:#000000;
  display:block;
  padding-right:15px;
}
.menu_div ul li:hover
{
  background:#CCCCCC;
  padding-right:15px;
  cursor: pointer;
}



/*.menu_div ul li
{
  background:#999999;
  line-height:28px;
  border-bottom:1px solid #FFFFFF;
}
.menu_div ul li a
{
  text-decoration:none;
  color:#000000;
  display:block;
  padding-right:15px;
}
.menu_div ul li a:hover
{
  background:#CCCCCC;
  padding-right:15px;
}*/


/*.menu_div ul li#active
{
  background:#d40203;
}*/



/*#testArea {
  position: absolute;
  left: 900px;
  top: 60px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#000000;
}*/