#waitText{
	position: absolute;
	left: 320px;
	top: 20px;
	font-family:Helvetica;
	embed-fonts:true;
	font-size:28px;
	text-align:left;
	color:#3B5998;
}


#dancevideo_01{
	position: absolute;
	top: 0px;
	left: 0px;
}

#screenshot{
	position: absolute;
	top: 0px;
	left: 0px;
	/*cursor: pointer;*/
}

#hotspot{
  position: absolute;
  left: 320px;
  top: 140px;
  width: 180px;
  height: 200px;  
  cursor: pointer;
}


#instructHotpot {
  position: absolute;
  left: 120px;
  top: 40px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructHotpot.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructChapters {
  position: absolute;
  left: 160px;
  top: 60px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructChapters.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructChoose {
  position: absolute;
  left: 200px;
  top: 60px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructChoose.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructPdf {
  position: absolute;
  left: 160px;
  top: 40px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#instructPdf.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#instructQuiz {
  position: absolute;
  cursor: pointer;
  left: 160px;
  top: 60px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:20px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  display: none;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#instructQuiz.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#pdfLink {
  position: absolute;
  left: 250px;
  top: 360px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:16px;
  text-align:center;
  color:#3B5998;
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
#pdfLink.fadein {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}


#menu {
  /*display: none;*/
  position: absolute;
  left: 265px;
  top: 460px;
  opacity: 0;
  transition:all 1s ease-in-out;
/*
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  -ms-perspective: 100px;
  -o-perspective: 100px;
  perspective: 100px;*/

/*  -webkit-perspective-origin: left top;
  -moz-perspective-origin: left top;
  -ms-perspective-origin: left top;
  -o-perspective-origin: left top;
  perspective-origin: left top;*/

  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  transform:rotateX(90deg);
}

/*.show {
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -ms-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  transform:rotateX(0deg);
}*/

/*#menu:hover {
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -ms-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  transform:rotateX(0deg);
}*/

.menu_div ul
{
  padding:0px;
  margin:0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  color:#000000;
  list-style:none;
  text-indent:15px;
}
.menu_div ul li
{
  background:#999999;
  line-height:28px;
  border-bottom:1px solid #FFFFFF;
  text-decoration:none;
  color:#000000;
  display:block;
  padding-right:15px;
}
.menu_div ul li:hover
{
  background:#CCCCCC;
  padding-right:15px;
  cursor: pointer;
  /*transform:rotateX(180deg);*/
}

#menu.show {
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -ms-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  transform:rotateX(0deg);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

#quiz {
  position: absolute;
  left: 560px;
  top: 160px;
  font-family:Helvetica;
  embed-fonts:true;
  font-size:16px;
  text-align:left;
  color:#3B5998;
  display: none;
}

input {
    float: left;
    margin-left: 20px;
}

label {
    float: left;
    margin-left: 10px;
}

label + input {
    clear: both;
}
